.vc_team {
    .cont--inner {
        .owl-stage-outer {
            padding-top: 52px;
        }
        .owl-item {
            &.active {
                .vc_team_item {
                    .cont--image {
                        img {
                            filter: grayscale(0);
                            @include tablet {
                                filter: grayscale(1);
                            }
                        }
                    }
                }
            }
            &.hover {
                @include tablet {
                    .vc_team_item {
                        @include flexbox;
                        align-items: center;
                        .cont--image {
                            width: 50%;
                            img {
                                filter: grayscale(0);
                            }
                        }
                        .cont--info {
                            display: block;
                            width: 50%;
                        }
                    }
                }
            }
            .vc_team_item {
                position: relative;
                &:hover {
                    @include tablet {
                        .cont--image {
                            opacity: 0;
                        }
                        .cont--info {
                            opacity: 1;
                        }
                    }
                }
                .cont--image {
                    @include transition;
                    img {
                        @include transition;
                        filter: grayscale(1);
                    }
                }
                .cont--info {
                    padding: 22px 5px 0;
                    @include tablet {
                        @include absolute_center_xy;
                        opacity: 0;
                        @include transition;
                        padding: 0;
                    }
                    .cont--info-inner {
                        max-width: calc(265px + 72px);
                        @include desktop-1280 {
                            padding-left: 72px;
                        }
                    }
                    .cont--name {
                        @include H2-Mobile;
                        padding-bottom: 6px;
                        @include desktop-1366 {
                            @include H2-Desktop;
                            padding-bottom: 3px;
                        }
                    }
                    .cont--charge {
                        @include Eina01-Light;
                        font-size: 12px;
                        line-height: 1.5;
                        opacity: 0.4;
                        padding-bottom: 11px;
                        @include desktop-1366 {
                            @include Body-Desktop;
                            padding-bottom: 21px;
                        }
                    }
                    .cont--body {
                        @include Small-Mobile;
                        line-height: 1.38;
                        @include desktop-1366 {
                            @include Small-Desktop;
                        }
                    }
                    .cont--xxss {
                        padding: 25px 0 47px 7px;
                        @include desktop-1366 {
                            padding: 33px 0 0 11px;
                        }
                        a {
                            text-decoration: none;
                            margin-right: 31px;
                            @include desktop-1366 {
                                margin-right: 38px;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                            i {
                                &:before {
                                    font-size: 16px;
                                    @include desktop-1366 {
                                        font-size: 19px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .owl-nav {
            bottom: inherit;
            top: 0;
            @include tablet {
                padding-left: 70px;
                padding-right: 70px;
            }
            @include desktop-1366 {
                top: -133px;
            }
            @include desktop-1920 {
                max-width: 1450px;
                padding: 0;
            }
            button {
                border: 1px solid rgba($black, 0.1) !important;
            }
        }
        .owl-dots {
            bottom: inherit;
            top: -28px;
            @include tablet {
                padding-left: 70px;
                padding-right: 70px;
            }
            @include desktop-1366 {
                top: -12px;
            }
            @include desktop-1920 {
                max-width: 1450px;
                padding: 0;
            }
            button {
                max-width: 5px;
                min-width: 5px;
                max-height: 5px;
                min-height: 5px;
                margin-right: 4px;
                @include desktop-1280 {
                    max-width: 12px;
                    min-width: 12px;
                    max-height: 12px;
                    min-height: 12px;
                    margin-right: 5px;
                }
            }
        }
    }
}