#contact,
.page-id-103 {
  //TODO: afegir-ho a totes les pagines
  min-height: 100vh;
  position: relative;
  background-color: $white;

  .site-main {
    display: flex;

    flex-direction: column-reverse;
    @include desktop {
      flex-direction: initial;
    }
    .left {
      height: 340px;

      @include desktop {
        flex: 0 0 60%;
        max-width: 60%;
        height: calc(100vh - 90px);
        position: relative;
      }

      @include desktop-1600 {
        height: calc(100vh - 110px);
      }

      .content {
        height: 340px;

        @include desktop {
          position: fixed;
          height: 100%;
          width: 60%;
        }

        .front-slide {
          margin-bottom: 0;

          .slide-item {
            height: 340px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;

            @include desktop {
              height: calc(100vh - 90px);
            }

            @include desktop-1600 {
              height: calc(100vh - 110px);
            }

            &.slick-active {
              .slide-content {
                transform: translateY(0);
                opacity: 1;
              }
            }

            .slide-content {
              transform: translateY(20px);
              opacity: 0;

              padding: 31px 60px 0 20px;

              @include transition(1s);
              transition-delay: 0.5s;

              @include tablet {
                padding: 31px 60px 0 50px;
              }

              @include desktop {
                padding-left: 100px;
                padding-top: 80px;

                max-width: calc(440px + 100px);
              }

              h2 {
                font-size: 1.875rem;
                line-height: 1.17;

                margin-top: 0;
                margin-bottom: 9px;

                @include desktop {
                  font-size: 4.063rem;
                  line-height: 1.08;

                  margin-bottom: 17px;
                }
              }

              h3 {
                font-size: 1.25rem;
                line-height: 1.25;
                font-weight: normal;

                margin-top: 0;
                margin-bottom: 18px;

                @include desktop {
                  font-size: 2.188rem;
                  line-height: 1.14;

                  margin-bottom: 36px;
                }
              }

              a {
                padding: 13px 33px;
                font-size: 0.75rem;
                line-height: 1.67;
                letter-spacing: 1.2px;
                font-weight: bold;
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
                background-color: $baby-shit-brown;
                @include transition;

                @include desktop {
                  padding: 13px 56px;
                }

                &:visited {
                  color: $white;
                }

                &:hover {
                  background-color: $baby-shit-brown;
                }
              }
            }
            .item-product-features {
              overflow: auto;
            }
          }

          .slick-dots {
            display: none !important;
            position: absolute;
            bottom: 20px;
            left: 20px;
            text-align: left;
            width: 90vw;

            @include tablet {
              left: 50px;
            }

            @include desktop {
              display: none !important;
              bottom: 77px;
              left: 100px;
            }
          }
        }
      }
    }

    .right {
      width: 100%;

      @include desktop {
        flex: 0 0 40%;
        max-width: 40%;
      }

      .products {
        padding: 50px 20px 0;

        @include tablet {
          padding: 50px 50px 0;
        }

        @include desktop {
          padding: 81px 50px 0;
        }

        a {
          text-decoration: none;
        }

        .title {
          @include H1-Mobile;
          font-weight: bold;

          margin-top: 0;
          margin-bottom: 20px;

          @include desktop {
            font-weight: bold;
          }
        }

        .viewall {
          margin-top: 0;
          margin-bottom: 18px;
          text-transform: uppercase;
          cursor: pointer;

          @include desktop {
            margin-bottom: 60px;
          }

          a {
            text-decoration: none;
            color: $baby-shit-brown;
            font-size: 0.75rem;
            letter-spacing: 1.2px;

            &:hover {
              color: $baby-shit-brown;
            }
          }
        }
        .features-products {
          .slick-products {
            margin-right: -5px;

            @include tablet {
              margin-right: 0;
            }

            .item-products-content {
              text-align: center;
            }
            .slick-slide {
              height: 100% !important;
              margin: 0 15px;

              @include desktop-1600 {
                margin: 0 33px;
              }
              img {
                @include tablet {
                  width: auto !important;
                  height: 140px !important;
                }
              }
            }

            .slick-list {
              margin: 0 -15px;

              @include desktop-1600 {
                margin: 0 -33px;
              }
            }
          }
          .features-products-more {
            text-align: center;
            a {
              color: black;
            }
          }
        }
        .slick-sponsors {
          &.item-sponsors {
            border-right: solid 1px grey;
            height: 100px !important;
            margin: 0px;
            padding: 16px;
            .item-href-sponsor {
              width: max-content;
            }
          }
        }

        .item {
          a {
            @include flexbox;
            flex-direction: column;

            &:hover {
              img {
                transform: translateX(-50%) translateY(-50%) scale(1.1);
              }

              .name {
                color: $baby-shit-brown;
              }
            }
          }

          .img {
            position: relative;
            //overflow: hidden;
            width: 100%;
            padding-top: 100%;

            img {
              @include transition;
              @include absolute_center_xy;
            }
          }

          .name {
            @include H1-Mobile;
            font-size: 0.938rem;

            margin-top: 10px;
            max-width: 130px;

            @include transition;
          }
        }

        .slick-dots {
          display: none !important;
          position: relative !important;
          text-align: left !important;

          @include desktop {
            bottom: -2px;
          }
        }
      }

      .divider {
        height: 1px;
        width: 100%;
        margin-top: 37px;
        margin-bottom: 0;
        background-color: rgba(brown, 0.1);

        @include tablet {
          margin-top: 30px;
          margin-bottom: 30px;
        }

        @include desktop {
          //display: none;
        }
      }

      .novedades {
        padding: 60px 20px;

        @include tablet {
          padding: 60px 50px;
        }

        @include desktop {
          padding: 60px 165px 60px 50px;
        }

        .new {
          //padding: 60px 50px;
          .type {
            color: $baby-shit-brown;
          }

          .title {
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 18px;
            padding-right: 60px;
            position: relative;

            @include desktop {
              padding-right: unset;
            }

            a {
              text-decoration: none;
              color: $baby-shit-brown;

              &:hover {
                color: $baby-shit-brown;
              }
            }

            .link {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 10px;

              @include desktop {
                right: -70px;
              }
            }
          }

          p {
            color: brown;
          }
        }
      }

      .tiles-box {
        display: flex;
        flex-direction: column;

        .tiles {
          width: 100%;
          display: flex;

          &:first-child {
            margin-bottom: 4px;
          }

          .tile {
            display: flex;
            flex-direction: column;

            position: relative;
            width: 100%;
            text-decoration: none;

            min-height: 190px;
            padding: 50px 20px 40px;
            @include Body-Mobile;
            background: url("/wp-content/uploads/2022/10/Formulario-de-inscripcion.png");

            @include tablet {
              padding: 50px 50px 40px;
            }

            @include desktop {
              min-height: 425px;
              padding: 80px 50px 105px;
            }

            &:first-child {
              margin-right: 4px;
            }

            .title {
              position: relative;

              font-size: 1.25rem;
              font-weight: bold;
              line-height: 1.25;
              word-break: break-all;

              margin: 0;
              color: black;

              @include desktop {
                font-size: 1.875rem;
                line-height: 0.83;

                margin-bottom: 9px;
              }

              &:before {
                @include desktop {
                  top: -23px;
                }
              }
            }

            p {
              display: none;

              @include desktop {
                display: block;
              }
            }

            .img {
              display: flex;
              align-items: flex-end;
              flex-grow: 1;

              img {
                max-width: 50px;

                @include desktop {
                  max-width: 70px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.home {
  .cont-logo {
    display: none !important;
  }
}

.home-categories {
  display: grid;
  @include desktop{
    grid-template-columns: 50% 50%;
  }
}

.instagram {
  img {
    width: 100px !important;
    height: auto !important;
    position: fixed;
    right: 11px;
    bottom: 8px;
    @include desktop {
      width: 100px !important;
      height: auto !important;
      position: fixed;
      right: 50px;
      bottom: 50px;
    }
  }
}

.home-banner-mobile {
  display: block;
  @include tablet {
    display: none;
  }
}
.home-banner-desktop {
  display: none;
  @include tablet {
    display: block;
  }
}

.home-categories-contact-mobile {
  display: block;
  @include tablet {
    display: none;
  }
}
.home-categories-contact-desktop {
  display: none;
  @include tablet{
    display: block;
  }
}

.home-banner,
.home-categories {
  img {
    width: 100%;
  }
}

.home-text {
  background-size: contain;
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/wp-content/uploads/2022/10/FANATICO.png");
  background-attachment: scroll;
  min-width: 1903px;
  left: 0px;
  width: 1903px;
  height: 45px;
}
