/**
 * Selectores CSS
 * Ejemplo: fonts, h1, div, a, p, span, etc...
**/

/*
320 - 767px - mobil
768px - 1366 - mida tablet
1399 - 1920 mida desktop
*/
html{
    overflow: auto;
}
.entry-title {
    display: none !important;
}
body {
    @include Body-Mobile;
    color: $black;
    overflow-x: hidden;

    @include desktop-1366 {
        @include Body-Desktop;
    }
}

h1 {
    margin-bottom: 5px;
    @include H1-Mobile;

    @include tablet {
        margin-bottom: 10px;
        @include H1-Tablet;
    }

    @include desktop-1366 {
        margin-bottom: 10px;
        @include H1-Desktop;
    }
}

h2 {
    margin-bottom: 10px;
    @include H2-Mobile;

    @include desktop-1366 {
        @include H2-Desktop;
    }
}

h3 {
    margin-bottom: 10px;
    @include H3-Mobile;

    @include desktop-1366 {
        @include H3-Desktop;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h4 {
}

.entry-subtitle {
    h2 {
        @include Subtitle-Mobile;
        margin-bottom: 20px;
        opacity: 0.5;

        @include tablet {
            margin-bottom: 40px;
            @include Subtitle-Tablet;
        }

        @include desktop-1366 {
            margin-bottom: 80px;
            @include Subtitle-Desktop;
        }
    }
}

table {
}
img {
    height: 100% !important;
}
a {
    @include Eina01-Bold;
    text-decoration: none;
    color: $light-blue;
    @include transition;

    &:active {
    }
}

/*Links*/

a[href^="sms"],
a[href^="tel:"] {
    position: relative;
    @include Eina01-Light;
    text-decoration: none !important;
    pointer-events: auto;
    color: inherit;
    font-weight: inherit;
    z-index: 0;
    cursor: default;
}

ul {
    li {
    }
}

strong,
b {
}

i {
    font-style: italic;
}

p {
    margin-top: 0;
    margin-bottom: 40px;
}

p:empty {
    display: none;
}

.text-small {
    @include Small-Mobile;

    @include desktop-1366 {
        @include Small-Desktop;
    }
}

input[type="submit"],
.btn,
a.button {
    //@include button;
    overflow: hidden;
    @include transition;

    &:hover {
    }
}

.wrapper {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.cta-fixed {
    @include button;

    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;

    opacity: 0;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    @include desktop {
        bottom: 50px;
        right: 70px;
        left: inherit;
        transform: translateX(0);
    }

    &.active {
        opacity: 1;
    }
}

/*.mce-menu-item .mce-text {
    color: red !important;
}*/
