//Media Queries
$Mobile-md: 480px;
$tablet-sm: 768px;
$tablet-md: 991px;
$desktop-md: 1024px;
$desktop-lg: 1279px;
$desktop-lg2: 1366px;
$desktop-xl: 1600px;
$desktop-xxl: 1920px;
$desktop-xxxl: 2048px;
//$container-max: ;
$gutters: 20px;

//Variable Colors 
$black: #000000;
$baby-shit-brown: #97930d;
$white: #ffffff;
$white-two: #f5f5f5;
$warm-grey: #979797;
$light-blue: #293fff;

/* IMG */

//background: url('#{$imgPath}/xxxx.png')
$imgPath: "../../assets/";