.block-editor .editor-styles-wrapper {
	font-size: 14px; }
	.block-editor .editor-styles-wrapper p {
		font-size: inherit; }
	.block-editor .editor-styles-wrapper p,
	.block-editor .editor-styles-wrapper .mce-content-body {
		line-height: 2.14286; }
	.block-editor .editor-styles-wrapper .wp-block-cover-image h2,
	.block-editor .editor-styles-wrapper .wp-block-cover-image .wp-block-cover-image-text,
	.block-editor .editor-styles-wrapper .wp-block-cover-image .wp-block-cover-text,
	.block-editor .editor-styles-wrapper .wp-block-cover h2,
	.block-editor .editor-styles-wrapper .wp-block-cover .wp-block-cover-image-text,
	.block-editor .editor-styles-wrapper .wp-block-cover .wp-block-cover-text {
		font-size: 2em;
		line-height: 1.25; }
	.block-editor .editor-styles-wrapper blockquote {
		font-size: 18px;
		line-height: 1.55556; }
	.block-editor .editor-styles-wrapper pre {
		font-size: 13px; }

.wp-block {
	max-width: 750px; }

.wp-block-button__link {
	border-radius: 50px; }

.wp-block-quote {
	margin: 30px 50px; }
	.wp-block-quote:not(.is-large):not(.is-style-large) {
		border-left: 0;
		padding-left: 0; }
	.wp-block-quote .editor-rich-text {
		line-height: 1.55556;
		margin-bottom: 1.5em; }
		.wp-block-quote .editor-rich-text:last-child {
			margin-bottom: 0; }
		.wp-block-quote .editor-rich-text p {
			line-height: inherit; }
	.wp-block-quote.is-large {
		padding: 35px 0; }
		.wp-block-quote.is-large .editor-rich-text {
			font-size: 24px;
			line-height: 1.6; }
		.wp-block-quote.is-large .wp-block-quote__citation {
			font-size: 18px; }

.wp-block-code {
	font-size: 13px;
	color: #333;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.6;
	padding: 1.6em;
	border: 1px solid #ccc;
	background: #eee; }
	.wp-block-code .editor-plain-text {
		font-size: 13px;
		color: #333;
		font-family: inherit; }

.wp-block-preformatted pre.mce-content-body,
.wp-block-verse pre.mce-content-body {
	line-height: 1.6;
	margin-bottom: 1.6em; }

.wp-block-preformatted.editor-rich-text pre.mce-content-body,
.wp-block-verse.editor-rich-text pre.mce-content-body {
	line-height: 1.6; }
