@font-face {
	font-family: 'Sofia Pro';
	src: url("../fonts/SofiaProLight-webfont.eot");
	src: url("../fonts/SofiaProLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SofiaProLight-webfont.woff2") format("woff2"), url("../fonts/SofiaProLight-webfont.woff") format("woff"), url("../fonts/SofiaProLight-webfont.ttf") format("truetype"), url("../fonts/SofiaProLight-webfont.svg#sofia_prolight") format("svg");
	font-weight: 300;
	font-style: normal; }

html {
	font-size: 10px; }

body {
	color: #7c7c80;
	font-size: 14px;
	font-size: 1.4rem;
	font-family: "Poppins", sans-serif;
	line-height: 2.14286; }
	body.mce-content-body {
		margin: 10px; }
		body.mce-content-body.post-type-post {
			max-width: 780px; }

h1, h2, h3, h4, h5, h6 {
	color: #23232c;
	line-height: 1.2;
	font-weight: 500; }

h1, h2, h3 {
	margin: 50px 0 30px; }

h4, h5, h6 {
	margin: 30px 0 20px; }

h1 {
	font-size: 40px; }

h2 {
	font-size: 30px; }

h3 {
	font-size: 20px; }

h4 {
	font-size: 18px; }

h5 {
	font-size: 14px; }

h6 {
	font-size: 12px; }

p {
	margin-bottom: 1.5em; }

dfn, cite, em, i {
	font-style: italic; }

blockquote {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	color: #23232c;
	line-height: 1.55556;
	margin: 30px 50px;
	padding: 25px 0;
	border-left: 0;
	text-align: center;
	position: relative; }
	blockquote:before, blockquote:after {
		position: absolute;
		width: 40%;
		height: 1px;
		background-color: #e4e6eb;
		left: 50%;
		transform: translateX(-50%); }
	blockquote:before {
		top: 0; }
	blockquote:after {
		bottom: 0; }
	blockquote a,
	blockquote a:hover {
		color: #23232c; }

address {
	margin: 0 0 1.5em; }

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em; }

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 13px;
	font-size: 1.3rem; }

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help; }

mark, ins {
	background: #fff9c0;
	text-decoration: none; }

big {
	font-size: 125%; }

.primary-color {
	color: #23232c; }

a {
	transition: 0.5s;
	color: #23232c;
	text-decoration: none;
	cursor: pointer; }
	a:hover, a:active, a:focus {
		color: #1e1e23;
		outline: 0;
		text-decoration: none; }

p.has-drop-cap:not(:focus)::first-letter {
	float: left;
	font-size: 7.4em;
	line-height: 0.68;
	font-weight: 100;
	margin: 0.1em 0.1em 0 0;
	text-transform: uppercase;
	font-style: normal; }

blockquote, q {
	quotes: "" ""; }
	blockquote:before, blockquote:after, q:before, q:after {
		content: ""; }
	blockquote :first-child, q :first-child {
		margin-top: 0; }
	blockquote :last-child, q :last-child {
		margin-bottom: 0; }

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em; }

ul,
ol {
	margin: 0 0 1.5em 0; }

ul {
	list-style: disc; }

ol {
	list-style: decimal; }

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em; }

dl {
	margin-top: 0;
	margin-bottom: 20px; }

dt,
dd {
	line-height: 1.42857143; }

dt {
	font-weight: bold; }

dd {
	margin: 0 1.5em 1.5em; }

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */ }

address {
	font-style: normal;
	line-height: 1.42857143; }

code,
.mce-content-body code {
	padding: 2px 4px;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px; }

kbd {
	padding: 2px 4px;
	color: #fff;
	background-color: #333;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }

pre {
	display: block;
	margin: 0 0 10px;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #ccc;
	border-radius: 4px; }

table {
	margin: 0 0 1.5em;
	width: 100%; }

table,
.mce-item-table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 2px solid #23232c; }
	table th,
	table td,
	.mce-item-table th,
	.mce-item-table td {
		padding: 15px;
		border-right: 1px solid #23232c; }
	table th,
	.mce-item-table th {
		color: #23232c;
		text-align: left; }
	table thead tr,
	.mce-item-table thead tr {
		border-bottom: 2px solid #23232c; }
	table tbody tr,
	.mce-item-table tbody tr {
		border-bottom: 1px solid #f1f2f4; }

/** Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em; }

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em; }

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto; }

/** Gallery */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%; }
	.wp-caption img[class*="wp-image-"] {
		display: block;
		margin-left: auto;
		margin-right: auto; }
	.wp-caption .wp-caption-text {
		margin: 0.8075em 0; }

.wp-caption-text {
	text-align: center; }

.pswp__caption__center {
	text-align: center; }

.gallery {
	margin: 0 -5px 35px -5px; }

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	padding: 5px;
	margin: 0; }
	.gallery-columns-2 .gallery-item {
		max-width: 50%; }
	.gallery-columns-3 .gallery-item {
		max-width: 33.33%; }
	.gallery-columns-4 .gallery-item {
		max-width: 25%; }
	.gallery-columns-5 .gallery-item {
		max-width: 20%; }
	.gallery-columns-6 .gallery-item {
		max-width: 16.66%; }
	.gallery-columns-7 .gallery-item {
		max-width: 14.28%; }
	.gallery-columns-8 .gallery-item {
		max-width: 12.5%; }
	.gallery-columns-9 .gallery-item {
		max-width: 11.11%; }
	.gallery-columns-10 .gallery-item {
		max-width: 10%; }

.gallery-caption {
	display: block; }
