@charset "UTF-8";

@font-face {
  font-family: "oilmotion";
  src:url("fonts/oilmotion.eot");
  src:url("fonts/oilmotion.eot?#iefix") format("embedded-opentype"),
    url("fonts/oilmotion.woff") format("woff"),
    url("fonts/oilmotion.ttf") format("truetype"),
    url("fonts/oilmotion.svg#oilmotion") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "oilmotion" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-font-"]:before,
[class*=" icon-font-"]:before {
  font-family: "oilmotion" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-font-icon-icn-menu:before {
  content: "\61";
}
.icon-font-icono-icn-xxss-fb-white:before {
  content: "\62";
}
.icon-font-icono-icn-xxss-instagram-white:before {
  content: "\63";
}
.icon-font-icono-icn-xxss-youtube-white:before {
  content: "\64";
}
.icon-font-icon-icn-arrow-prev:before {
  content: "\65";
}
.icon-font-icon-icn-arrow-next:before {
  content: "\66";
}
.icon-font-icon-icn-cart:before {
  content: "\67";
}
.icon-font-icon-icn-profile:before {
  content: "\68";
}
.icon-font-icono-icn-xxss-linkedin:before {
  content: "\69";
}
.icon-font-icon-icn-less-grey:before {
  content: "\6a";
}
.icon-font-icon-icn-close:before {
  content: "\6b";
}
.icon-font-icon-icn-more-grey:before {
  content: "\6c";
}
.icon-font-play:before {
  content: "\6d";
}
.icon-font-info:before {
  content: "\6e";
}
.icon-font-icono-icn-link:before {
  content: "\70";
}
.icon-font-icn-menu:before {
  content: "\71";
}
.icon-font-icn-contact:before {
  content: "\6f";
}
.icon-font-icn-xxss-instagram:before {
  content: "\72";
}
