.section__description {
    .cont--content {
        margin: 0 auto;

        @include tablet {
            width: 75%;
        }

        @include desktop-1366 {
            width: 50%;
        }

        b,
        strong {
            @include Eina01-SemiBold;
        }
    }
}

.cont--job_offer {
    margin: 70px auto;
    padding: 70px 0;

    border-top: 1px solid $black;

    @include tablet {
        width: 75%;
    }

    @include desktop-1366 {
        width: 50%;
    }

    b,
    strong {
        @include Eina01-SemiBold;
    }
}