/*--------------------------------------------------------------
## Topbar
--------------------------------------------------------------*/
@import "topbar";
/*--------------------------------------------------------------
## Logo
--------------------------------------------------------------*/
@import "logo";
/*--------------------------------------------------------------
## Header Icon
--------------------------------------------------------------*/
@import "header-icon";

.site-header {
	padding: 35px 0;

	.row {
		display: flex;
		align-items: center;
	}

	.main-navigation,
	.site-branding,
	.header-icon,
	.mobile-nav-toggle {
		width: auto;
	}

	.header-icon,
	.mobile-nav-toggle {
		flex: 1;
	}

	.header-transparent & {
		transition: 0.5s;
		position: absolute;
		width: 100%;
		z-index: 999;
		border-bottom: 0;
		background-color: transparent;
	}

	.header-transparent.header-hoverable &:hover {
		box-shadow: 0 1px 0 0 rgba(241, 242, 244, 0);
		background-color: #fff;
	}

	.no-site-header & {
		display: none !important;
	}

	.header-v1 & {
		.main-navigation,
		.header-icon {
			flex: 1;
		}
	}

	.header-v2 & {
		.site-branding,
		.header-icon {
			flex: 1;
		}
	}

	.header-v3 & {
		padding-top: 25px;
		padding-bottom: 21px;

		.row {
			flex-wrap: wrap;
		}

		.site-branding {
			width: 100%;
		}

		.header-icon {
			flex: 1;
		}

		.sub-menu:before {
			height: 30px;
			top: -30px;
		}
	}

	.header-v4 & {
		.row,
		.header-content {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.header-content {
			width: auto;
			flex: auto;
		}

		.site-navigation {
			flex: 1;
		}
	}

	.header-v5 & {
		padding-bottom: 21px;

		.row {
			flex-wrap: wrap;
		}

		.site-branding {
			width: 100%;
		}
	}

	.header-v6 & {
		.sober-container {
			display: flex;
			align-items: center;
		}

		.site-nav {
			float: left;
		}
	}

	.header-text-light & {
		.nav-menu > li > a,
		.list-dropdown .current,
		.toggle-nav {
			color: $color__light;
		}

		.nav-menu > li > a:after {
			background: $color__light;
		}

		svg {
			fill: $color__light;
			stroke: $color__light;
		}

		li.menu-item-cart,
		li.menu-item-wishlist,
		.menu-item-mobile-cart {
			span.count {
				color: $color__primary;
				background-color: $color__light;
			}
		}
	}

	.header-transparent.header-hoverable.header-text-light &:hover {
		.logo,
		.list-dropdown a,
		.list-dropdown .current,
		.toggle-nav {
			color: $color__primary;
		}

		.logo-dark {
			opacity: 1;
		}

		.logo-light {
			opacity: 0;
		}

		svg {
			fill: $color__primary;
			stroke: $color__primary;
		}

		li.menu-item-cart,
		li.menu-item-wishlist,
		.menu-item-mobile-cart {
			span.count {
				color: $color__light;
				background-color: $color__primary;
			}
		}

		.shopping-cart-icon {
			.icon-dark {
				opacity: 1;
			}

			.icon-light {
				opacity: 0;
			}
		}

		.nav-menu > li > a {
			color: $color__primary;

			&:after {
				background-color: $color__primary;
			}
		}
	}

	.no-page-header & {
		border-bottom: 1px solid $color__border;
	}

	.no-page-header.header-dark & {
		border-bottom-color: #333333;
	}

	.no-page-header.page-template-homepage &,
	.no-page-header.home &,
	.no-page-header.header-transparent & {
		border-bottom: 0;
	}

	.single-product.product-style-4 & {
		border-bottom: 0;
	}

	.header-white & {
		background-color: $color__light;
	}

	.header-dark & {
		background-color: $color__primary;
	}
}

.header-sticky {
	&.header-white,
	&.header-dark,
	&.header-custom {
		.site-header {
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		&.topbar-enabled .site-header {
			top: 40px;
		}
	}

	&.header-transparent {
		.site-header.sticky,
		.site-header.headroom--not-top {
			color: $color__primary;
			background: $color__light;

			.logo,
			.list-dropdown a,
			.list-dropdown .current,
			.toggle-nav {
				color: $color__primary;
			}

			.logo-dark {
				opacity: 1;
			}

			.logo-light {
				opacity: 0;
			}

			svg {
				fill: $color__primary;
				stroke: $color__primary;
			}

			li.menu-item-cart,
			li.menu-item-wishlist,
			.menu-item-mobile-cart {
				span.count {
					color: $color__light;
					background-color: $color__primary;
				}
			}

			.shopping-cart-icon {
				.icon-dark {
					opacity: 1;
				}

				.icon-light {
					opacity: 0;
				}
			}

			.nav-menu > li > a {
				color: $color__primary;

				&:after {
					background-color: $color__primary;
				}
			}
		}
	}
}

.header-sticky-normal {
	.site-header.sticky {
		position: fixed !important;
		top: 0 !important;
		z-index: 1500;
		width: 100%;
	}
}

.header-sticky-smart {
	.site-header.headroom {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1500;
	}

	&.topbar-enabled .site-header.headroom {
		position: absolute;
		top: 40px;
	}

	.site-header.headroom--not-top {
		position: fixed !important;
		top: 0 !important;
		width: 100%;
		z-index: 1500;
	}
}

.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform: translateY(-100%);
}