.main-navigation {
  &.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;

    .menu-menu-principal-container,
    .menu-menu-principal-cat-container {
      ul {
        li {
          transform: translateY(0);
          opacity: 1;
          transition-delay: 0.7s;

          $elements: 4;

          @for $i from 1 to $elements {
            &:nth-child(#{$i + 1}) {
              transition-delay: #{$i * 0.1 + 0.7}s;
            }
          }
        }
      }
    }

    .menu-bottom-info {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 1.2s;
    }
  }
}