body {
  &.menu-open {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}

.cont--menu__open {
  position: relative;
  z-index: 9999;
  flex-grow: 0;
  object-fit: contain;
  background: black;
  border-radius: 50px;
  width: 66px;
  height: 66px;

  border: 5px solid $white;
  @include transition;

  @include tablet {
    //width: 60px;
    //height: 60px;
  }

  @include desktop {
    border: 10px solid $white;

    width: 100px;
    height: 100px;
  }

  &:hover {
    background-color: yellow !important;
    span {
      background-color: black;
    }
  }

  .icon-font-icn-menu {
    @include desktop {
      display: none;
    }

    &::before {
      position: absolute;
      top: 13px;
      left: 12px;
      color: $white;

      @include tablet {
        top: 14px;
        left: 12px;
        font-size: 25px;
      }

      @include desktop {
        font-size: 31px;
        top: 26px;
        left: 25px;
      }
    }
  }

  &.close-ajax {
    &:hover {
      i:before {
        transform: scale(1.2);
      }
    }

    i {
      display: block;

      &:before {
        content: "\6b";
        color: $white;
        position: absolute;

        top: 21px;
        left: 21px;
        font-size: 14px;

        -moz-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
        -o-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
        -webkit-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
        transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;

        @include desktop {
          font-size: 25px;
          top: 29px;
          left: 28px;
        }
      }
    }
  }
}

.main-navigation {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: all 500ms cubic-bezier(0.43, 0.125, 0.535, 0.83);
  transition: all 500ms cubic-bezier(0.43, 0.125, 0.535, 0.83);
  transition-delay: 1.8s;

  &-inner {
    @extend .container;

    @include desktop {
      @include flexbox;
      flex-direction: column;
      height: 100%;
    }
  }

  &:before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background-image: linear-gradient(to right, $light-blue 5%, black 97%);
    opacity: 0;
    @include transition;
  }

  &.hover {
    &::before {
      @include desktop {
        opacity: 1;
      }
    }

    .menu-bottom-info .menu-bottom-info--top .cont--logos img {
      &.dark {
        @include desktop {
          opacity: 1;
        }
      }
    }
  }

  .menu-bottom-info-lang {
    margin-top: 58px;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 55px;
      margin-top: 80px;
    }

    @include desktop {
      margin-bottom: 89px;
    }

    .wpml-ls-sidebars-menu-lang {
      padding: 0;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        @include flexbox_wrap;
        column-gap: 40px;

        a {
          padding: 0;
        }
      }

      a {
        &:hover {
          span {
            opacity: 1;

            &::before {
              left: 0;
              right: auto;
              width: 100%;
            }
          }
        }

        span {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: -4px;
            right: 0;
            width: 0;
            height: 2px;
            background-color: $light-blue;
            transition: width 1s cubic-bezier(0.25, 1, 0.5, 1);
          }
        }
      }
    }

    .wpml-ls-display,
    .wpml-ls-native {
      @include Eina01-SemiBold;
      font-size: 14px;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: 1px;
      text-align: center;
      color: $black;
      @include transition;

      &:hover {
        color: $light-blue;
      }
    }

    .wpml-ls-display {
      opacity: 0.5;
    }
  }

  .menu-menu-principal-container,
  .menu-menu-principal-cat-container {
    @include desktop {
      @include flexbox;
      flex-grow: 1;
      align-items: center;
    }

    ul.menu {
      display: grid;
      list-style: none;
      padding: 0px;
      margin: 0;

      @include tablet {
        padding: 0px;
      }

      @include desktop-1280 {
        display: grid;
      }

      @include desktop-1366 {
        padding: 0px;
      }

      li {
        padding-bottom: 15px;
        transform: translateY(18px);
        transition: opacity 0.5s ease, transform 0.75s ease;
        opacity: 0;
        transition-delay: 0.1s;
        $elements: 4;

        @for $i from $elements to 0 {
          &:nth-child(#{$i + 1}) {
            transition-delay: #{$i * 0.1 + 0.1}s;
          }
        }

        @include desktop-1280 {
        }

        @include desktop-1366 {
          padding-bottom: 29px;
        }

        a {
          position: relative;
          @include Eina01-SemiBold;
          text-decoration: none;
          color: black;
          font-size: 35px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: 1.8px;
          text-align: left;

          @include tablet {
            font-size: 40px;
            line-height: 1.25;
          }

          @include desktop-1366 {
            font-size: 50px;
            line-height: 1.2;
          }

          @include desktop-1920 {
            font-size: 90px;
          }

          &:hover {
            @include desktop {
              color: $white;
            }
          }
        }
      }
    }
  }

  .menu-bottom-info {
    transform: translateY(18px);
    transition: opacity 0.5s ease, transform 0.75s ease;
    opacity: 0;
    transition-delay: 1.1s;

    margin-top: 50px;
    padding-bottom: 38px;

    @include tablet {
      margin-top: 99px;
    }

    .menu-bottom-info--top {
      @include tablet {
        @include flexbox;
        justify-content: space-between;

        padding-bottom: 8px;
      }

      &.desktop {
        display: none;

        @include tablet {
          @include flexbox;
          align-items: center;
        }
      }

      &.mobile {
        @include tablet {
          display: none;
        }
      }

      .cont--xarxes-socials {
        @include flexbox;
        padding-bottom: 15px;

        border-bottom: 1px solid $black;

        @include tablet {
          border-bottom: none;
          padding-bottom: 0;
        }

        a {
          font-size: 17px;
          text-decoration: none;

          margin-right: 9px;

          width: 50px;
          height: 50px;

          border: 1px solid transparent;
          border-radius: 50%;

          @include flexbox;
          align-items: center;
          justify-content: center;

          @include transition;

          color: $black;

          @include desktop {
            font-size: 25px;

            margin-right: 29px;
          }

          &:hover {
            //border-color: rgba($black, 0.1);
            color: $light-blue;
          }

          &.icon-font-icono-icn-xxss-instagram {
            &::before {
              @include emfasi("\72");
              line-height: 1;

              @include desktop-1366 {
                height: 18px;
              }
            }
          }
        }

        a:last-child {
          margin-right: 0;
        }
      }

      .cont--logos {
        @include flexbox;
        align-items: center;

        column-gap: 20px;
        padding-top: 28px;

        @include tablet {
          padding-top: 0;
        }

        img {
          @include transition;
          min-height: 30px;

          &.dark {
            opacity: 0;
          }
        }

        .cont--logo {
          position: relative;

          .dark {
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        .kitdigital-partner-menu {
          @include tablet {
          }
        }

        .google-partner-menu {
          @include tablet {
          }
        }
      }
    }

    .menu-bottom-info--bottom {
      border-top: solid 1px $black;

      @include desktop-1366 {
        display: flex;
      }

      &-left {
        width: auto;
        margin-top: 38px;

        .info-emfasi {
          display: block;

          @include tablet {
            display: grid;
            grid-template-columns: 256px 256px;
          }

          p {
            @include Eina01-Light;
            margin-bottom: 0px;
          }

          a {
            text-decoration: none;
          }

          &-correo,
          &-tel {
            margin-bottom: 5px !important;
          }

          &-correo {
            a {
              @include Eina01-Light;
              @include link_underline;
              color: $black;

              &:hover {
                color: $light-blue;
              }
            }
          }
        }
      }

      &-right {
        width: 100%;
        margin-top: 31px;

        .content_block {
          height: 100%;

          .footer-block-right {
            display: flex;
            justify-content: start;
            align-items: center;

            @include desktop-1366 {
              justify-content: flex-end;
            }

            span {
              @include Eina01-Bold;
              margin-right: 10px;
              margin-left: 10px;

              @include tablet {
                margin-right: 21px;
                margin-left: 22px;
              }
            }

            height: 100%;

            a {
              @include Eina01-Light;
              margin-top: auto;
              margin-bottom: auto;
              text-decoration: none;
              font-size: 11px;
              font-stretch: normal;
              line-height: 1.07;
              text-align: right;
              color: $black;

              @include link_underline;

              @include desktop {
                font-size: 15px;
                line-height: 1.33;
              }

              &:hover {
                color: $light-blue;
              }

              span {
                position: relative;

                &::before {
                  content: "";
                  position: absolute;
                  bottom: -4px;
                  right: 0;
                  width: 0;
                  height: 2px;
                  background-color: $black;
                  transition: width 1s cubic-bezier(0.25, 1, 0.5, 1);
                }
              }

              span:hover {
                &::before {
                  left: 0;
                  right: auto;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.icon-font-icono-icn-xxss-instagram {
  &::before {
    @include emfasi("\72");
    line-height: 1;

    z-index: 0;

    @include desktop-1366 {
      height: 18px;
    }
  }
}

.cont--menu__open {
  .menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }

  span {
    position: absolute;
    display: block;
    width: 17px;
    height: 1px;
    background-color: $white;
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

    right: 19px;

    @include desktop {
      width: 25px;
      right: 27px;
    }

    &:first-of-type {
      top: 24px;

      @include desktop {
        top: 35px;
      }
    }

    &:last-of-type {
      bottom: 24px;

      @include desktop {
        bottom: 34px;
      }
    }
  }

  &.active,
  .menu-icon__cheeckbox:checked + div {
    span {
      &:first-of-type {
        transform: rotate(45deg) scale(1.5);
        top: 28px;

        @include desktop {
          top: 40px;
        }
      }

      &:last-of-type {
        transform: rotate(-45deg) scale(1.5);
        bottom: 27px;

        @include desktop {
          bottom: 39px;
        }
      }
    }
  }

  &.active:hover span:first-of-type,
  &.active:hover span:last-of-type,
  &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
  &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
    right: 19px;

    @include desktop {
      width: 30px;
      right: 24px;
    }
  }

  &:hover {
    // no need hover effect on mobile.
    @media (min-width: 1024px) {
      span:first-of-type {
        width: 30px;
      }

      span:last-of-type {
        width: 20px;
      }
    }
  }
}

#menu-menu-politicas {
  display: flex;
  padding-left: 0px;
  li {
    list-style: none;
    a {
      color: black;
    }
    &#menu-item-485 {
      margin-left: 10px;
    }
  }
}
