.wpcf7 {
    max-width: inherit;

    form {
        > p {
            position: relative;
            margin-bottom: 20px;
        }

        .textarea {
            margin-bottom: 0;
        }

        label {
            @include H2-Mobile;
            width: auto;
            @include transition;

            @include desktop-1366 {
                @include H2-Desktop;
                top: 8px;
            }

            &.privacy_text {
                position: inherit;
                bottom: 0;
                padding-top: 12px;

                @include tablet {
                    padding-top: 23px;
                }

                @include desktop-1366 {
                    padding-top: 18px;
                }
            }

            &.active {
                @include Eina01-Regular;
                font-size: 10px;
                line-height: 1.2;
                letter-spacing: normal;
                color: $black;
                top: 1px !important;

                @include desktop {
                    font-size: 13px;
                    line-height: 1.54;
                }
            }
        }

        input[type="text"],
        input[type="password"],
        input[type="textarea"],
        input[type="email"],
        input[type="number"],
        input[type="tel"],
        textarea {
            @include Body-Mobile;
            background-color: transparent;
            box-shadow: none;
            outline: none;
            border: none;
            border-bottom: solid 1px rgba($black, 0.4);
            border-radius: 0;
            padding: 0 0 15px;
            width: 100%;
            max-width: 100%;

            &:focus {
                color: $black;
                box-shadow: none;
                background-color: transparent;
                border-color: #979797;
            }

            @include desktop-1366 {
                @include Body-Desktop;
            }
        }

        input[type="checkbox"] {
            position: relative;
            display: inline-block !important;
            -webkit-appearance: none;
            background: #ffffff;
            border: 1px solid rgba($black, 0.4);
            width: 18px;
            height: 18px;
            min-width: 18px;
            margin-right: 12px;
            outline: none;
            border-radius: 0;
            @include transition;

            @include tablet {
                width: 20px;
                height: 20px;
                min-width: 20px;
                margin-right: 9px;
                margin-top: -3px;
            }

            @include desktop-1366 {
                margin-top: -2px;
            }

            &:after {
                @include emfasi("");
                width: 11px;
                height: 11px;
                @include center-element;
                background: $light-blue;
                opacity: 0;
                @include transition;

                @include desktop-1366 {
                    height: 10px;
                    width: 10px;
                    border-radius: 0;
                }
            }

            &:checked {
                &:after {
                    opacity: 1;
                    border-radius: 0;
                    z-index: 0;
                }
            }
        }

        input[type="submit"] {
            /*@include Eina01-Medium;
            width: 180px;
            padding: 15px 58px;
            border-radius: 48px;
            background-color: $black;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.07;
            letter-spacing: 2px;
            text-align: center;
            color: $white;
            text-transform: uppercase;*/

            @include button;
        }

        textarea {
            max-height: 145px;

            @include desktop-1366 {
                max-height: 162px;
            }
        }

        .wpcf7-acceptance .wpcf7-list-item,
        .mc4wp-checkbox {
            margin: 0;

            label {
                position: inherit;
                @include flexbox;
                align-items: center;
                font-family: "Eina01-Light", sans-serif !important;
                font-weight: 500 !important;
                font-size: 13px;
                line-height: 1.38;

                @include desktop-1366 {
                    @include Small-Desktop;
                }

                &:hover {
                    cursor: pointer;

                    input[type="checkbox"] {
                        border-color: $black;
                    }
                }
            }

            &-label {
                a {
                    @include Eina01-Light;
                    text-decoration: none;

                    @include link_underline;
                }
            }
        }

        .wpcf7-response-output {
            @include Eina01-Bold;
            font-size: 12px;
            line-height: 1.33;

            color: #cc3f3f;
            border: none;
            padding: 0;
            margin: 0;

            @include desktop {
                font-size: 20px;
                line-height: 1.5;
            }
        }

        &.sent {
            .wpcf7-response-output {
                color: $black;
            }
        }

        .Comentari {
            .wpcf7-not-valid-tip {
                padding-top: 3px;
            }
        }

        .wpcf7-not-valid-tip {
            @include Eina01-Light;
            font-size: 12px;
            line-height: 1.33;

            padding-top: 8px;

            color: #cc3f3f;
        }
    }
}

form {
    &.wpcf7-form {
        > p {
            > small {
                > a {
                    display: inline-block;
                    @include Eina01-Light;
                    @include link_underline;
                }
            }
        }
    }
    .cont_label {
        position: relative;
        margin-bottom: 41px;

        @include desktop-1366 {
            margin-bottom: 31px;
        }

        &.none {
            margin-bottom: 0;
        }
    }

    .privacy_text {
        @include flexbox;
        align-items: center;
        margin-top: 0;
        margin-bottom: 22px;
    }

    input {
        &[type="submit"] {
            @include button;
            height: 100%;

            @include tablet {
                width: 100%;
            }

            @include desktop-1366 {
                width: auto;
                margin-top: 35px;
            }

            @include desktop-1600 {
                padding: 13px 82px;
            }

            @include desktop-1920 {
                margin-top: 55px;
            }
        }
    }
}

.left {
    .wpcf7 {
        max-width: 100%;
        form {
            .div-form {
                @include desktop {
                    display: grid;
                    grid-template-columns: 45% 45%;
                }
                label {
                    margin-bottom: 20px;
                    &.espacio {
                        margin-right: 5%;
                    }
                }
            }
        }
    }
}

#contact {
    .site-main {
        flex-direction: column-reverse;
        @include tablet {
            flex-direction: column;
        }
    }
}
