.sober-info-list {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		@include font-size(1.4);
		line-height: 1.3;
		margin-bottom: 40px;
		display: flex;
		align-items: center;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			color: inherit;
		}
	}

	.info-icon {
		color: $color__secondary;
		font-size: 20px;
		flex: 0 0 50px;
	}

	.info-name {
		color: $color__secondary;
		font-weight: 600;
		text-transform: uppercase;
		flex: 0 0 110px;
	}

	.info-value {
		color: $color__primary;
		font-weight: 500;
		flex: 1;
	}

	&.sober-info-list--elementor {
		li.sober-info-list__info:last-child {
			margin-bottom: 0;
		}
	}
}



.sober-contact-box {
	.contact-info {
		@include font-size(1.4);
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.info-icon,
	.info-name,
	.info-value {
		display: inline-block;
		vertical-align: middle;
	}

	.info-icon,
	.info-name {
		float: left;
	}

	.info-icon {
		@include font-size(1.8);
		text-align: center;
		color: $color__secondary;
		stroke: $color__secondary;
		fill: $color__secondary;
		width: 22px;
		height: 22px;
		margin-right: 26px;
		margin-top: 3px;
	}

	.info-name {
		font-weight: 600;
		color: $color__secondary;
		text-transform: uppercase;
		width: 110px;
		padding-right: 15px;
	}

	.info-value {
		font-weight: 500;
		color: $color__primary;
		display: block;
		margin-left: 160px;
	}
}
