.sober-portfolio--grid {
	.portfolio {
		padding-bottom: 30px;
	}
}

.sober-portfolio--masonry {
	.portfolio-items {
		margin-left: -5px;
		margin-right: -5px;
	}

	.portfolio {
		padding: 5px;
	}

	.view-more {
		display: none;
	}
}

.sober-portfolio--metro {
	.portfolio-items {
		margin-left: -5px;
		margin-right: -5px;
	}

	.portfolio {
		padding: 5px;
	}

	.view-more {
		display: none;
	}
}