.ajax-post-single {
  >article {
    @include flexbox;
    flex-direction: column;

    &.type-post {
      >.container {
        @include flexbox;
        flex-direction: column-reverse;
      }
    }

    .cont--left {
      //padding-top: 23px;
      //padding-top: 202px;
      //padding-bottom: 23px;

      margin: 179px -20px 0;
      padding: 23px 20px 20px;

      background-color: $white;

      @include tablet {
        //padding-top: 43px;
        //padding-top: 473px;
        //padding-bottom: 20px;

        margin: 430px -50px 0;
        padding: 43px 50px 23px;
      }

      @include desktop-1366 {
        width: 55%;

        //padding-top: 0;
        //padding-bottom: 118px;
        padding: 0 0 118px;
        margin: 0;
      }

      header {
        h1 {
          margin-bottom: 20px;
        }
      }

      .entry-content {
        h2 {
          @include Subtitle-Mobile;
          opacity: 0.4;

          margin-bottom: 31px;

          @include tablet {
            @include Subtitle-Tablet;

            margin-bottom: 52px;
          }

          @include desktop-1366 {
            font-size: 30px;
            line-height: 1.33;
          }
        }

        p {
          margin-bottom: 25px;

          @include tablet {
            margin-bottom: 28px;
          }

          @include desktop-1366 {
            margin-bottom: 32px;
          }
        }

        img {
          padding-top: 5px;

          width: 100%;

          @include tablet {
            padding-top: 22px;
            padding-bottom: 16px;
          }

          @include desktop-1366 {
            padding-bottom: 12px;
          }
        }
      }
    }

    .cont--right.fixed-thumbnail {
      position: fixed;

      top: 0;
      right: 0;

      width: 100%;
      height: 179px;

      z-index: -1;

      @include tablet {
        height: 430px;
      }

      @include desktop-1366 {
        max-width: 740px;
        width: 45%;
        height: 100vh;
      }

      img {
        max-height: 179px;
        width: 100%;
        object-fit: cover;

        @include tablet {
          max-height: 430px;
        }

        @include desktop-1366 {
          max-height: initial;
          height: 100%;
        }
      }
    }
  }
}