.cont--services-grid {
    padding-top: 15px;
    padding-bottom: 100px;

    @include desktop {
        padding-top: 20px;

    }

    .cont--category {
        position: relative;
        z-index: 1;

        h3 {
            @include Eina01-Light;
            font-size: 18px;
            line-height: 1.39;
            letter-spacing: normal;
            text-transform: inherit;
            color: $white;
            opacity: 0.4;

            @include tablet {
                font-size: 25px;
                line-height: 1.2;
                margin-bottom: 19px;
            }

            @include desktop-1366 {
                line-height: 1.4;
                margin-bottom: 31px;
            }
        }
    }

    .services-grid-index {
        padding-bottom: 31px;

        @include tablet {
            padding-bottom: 41px;
        }

        @include desktop-1366 {
            padding-bottom: 32px;
        }

        &:last-child {
            padding-bottom: 60px;

            @include tablet {
                padding-bottom: 40px;
            }

            @include desktop-1366 {
                padding-bottom: 33px;
            }
        }

        article a {
            @include desktop-1366 {
                min-height: 450px;
            }
        }
    }
}

.grid-index:not(.owl-carousel).projects-grid-index {
    @include desktop {
        overflow: hidden;
        @include flexbox_wrap;
        flex-direction: column;
        align-content: flex-start;
        overflow-x: hidden;

        height: calc(100vh - 136px);

        margin-right: -50px;
    }

    @include desktop-1366 {
        height: calc(100vh - 196px);

        margin-right: -100px;
        margin-left: -100px;
    }

    @include desktop-1920 {
        margin-right: -140px;
        margin-left: -140px;
    }

    article.type-projects {
        &:first-child {
            @include desktop-1366 {
                margin-left: 100px;
            }

            @include desktop-1920 {
                margin-left: 140px;
            }
        }

        @include desktop {
            margin-right: 30px;
        }

        @include desktop-1920 {
            margin-right: 70px;
        }
    }
}