body.color-menu_prinicipal-white {
}

header.site-header {
    width: 100%;

    .cont--header {
        @extend .container;
        @include flexbox;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 22px;
        padding-bottom: 22px;

        @include desktop {
            padding-top: 18px;
            padding-bottom: 18px;
        }

        @include desktop-1366 {
            padding-top: 48px;
            padding-bottom: 48px;
        }

        .wrapper--logo {
            h1 {
                margin: 0;
            }

            a {
                .cont-logo {
                    @include flexbox;

                    img {
                        max-width: 121px;
                        object-fit: contain;

                        @include tablet {
                            max-width: 150px;
                        }
                    }
                }
            }
        }

        .cont--header-right {
            @include flexbox;
            flex-grow: 1;
            justify-content: flex-end;

            @include desktop-1366 {
                margin-right: -60px;
            }

            @include desktop-1920 {
                margin-right: -80px;
            }

            .cont--header-right-item {
                @include transition;

                &:hover {
                    cursor: pointer;
                    background-color: $light-blue;

                    i {
                        &:before {
                            color: $white;
                        }
                    }
                }

                &.close-ajax {
                    position: fixed;
                }
            }

            .cont--user {
            }

            .cont--cart {
            }

            .cont--menu__open {
            }

            .header-title-page {
                display: none;

                @include Eina01-SemiBold;
                font-size: 14px;
                line-height: 1.07;
                letter-spacing: 2px;
                text-transform: uppercase;

                align-items: center;

                padding-right: 17px;

                @include desktop {
                    @include flexbox;
                }
            }
        }
    }
}

.home {
    .header-title-page {
        display: none !important;
    }
}
