@import "variables-site/variables-site";
@import "mixins/mixins-master";

.block-editor .editor-styles-wrapper {
	font-size: 14px;

	p {
		font-size: inherit;
	}

	p,
	.mce-content-body {
		line-height: 2.14286;
	}

	.wp-block-cover-image,
	.wp-block-cover {
		h2,
		.wp-block-cover-image-text,
		.wp-block-cover-text {
			font-size: 2em;
			line-height: 1.25;
		}
	}

	blockquote {
		font-size: 18px;
		line-height: 1.55556;
	}

	pre {
		font-size: 13px;
	}
}

.wp-block {
	max-width: 750px;
}

.editor-styles-wrapper {

}

.wp-block-button__link {
	border-radius: 50px;
}

.wp-block-quote {
	margin: 30px 50px;

	&:not(.is-large):not(.is-style-large) {
		border-left: 0;
		padding-left: 0;
	}

	.editor-rich-text {
		line-height: 1.55556;
		margin-bottom: 1.5em;

		&:last-child {
			margin-bottom: 0;
		}

		p {
			line-height: inherit;
		}
	}

	&.is-large {
		padding: 35px 0;

		.editor-rich-text {
			font-size: 24px;
			line-height: 1.6;
		}

		.wp-block-quote__citation {
			font-size: 18px;
		}
	}
}

.wp-block-code {
	font-size: 13px;
	color: #333;
	font-family: $font__pre;
	line-height: 1.6;
	padding: 1.6em;
	border: 1px solid #ccc;
	background: #eee;

	.editor-plain-text {
		font-size: 13px;
		color: #333;
		font-family: inherit;
	}
}

.wp-block-preformatted,
.wp-block-verse {
	pre.mce-content-body {
		line-height: 1.6;
		margin-bottom: 1.6em;
	}

	&.editor-rich-text pre.mce-content-body {
		line-height: 1.6;
	}
}