.section__form {
    padding: 40px 0 0;

    @include desktop-1366 {
        padding: 96px 0 0;
    }

    .container {
        @include desktop {
            @include flexbox;
            column-gap: 25px;
        }

        .cont__left {
            @include desktop {
                width: 50%;
            }

            .cont__text {
                @include desktop {
                    max-width: 600px;
                }

                h2 {
                    @include Eina01-Bold;
                    font-size: 30px;
                    line-height: 1.17;

                    @include desktop-1366 {
                        font-size: 40px;
                        line-height: 1.13;
                    }
                }

                p {
                    position: relative;

                    @include Eina01-Regular;
                    font-size: 20px;
                    line-height: 1.25;

                    margin-bottom: 12px;

                    @include desktop-1366 {
                        font-size: 30px;
                        line-height: 1.33;

                        margin-bottom: 29px;
                    }

                    &:after {
                        content: " ";
                        display: block;
                        width: 80px;
                        height: 1px;
                        border: solid 1px #000000;
                        margin-top: 29px;
                        margin-bottom: 31px;
                    }
                }
            }

            .cont__info {
                @include desktop {
                    max-width: 600px;
                }

                .info-emfasi {
                    margin-bottom: 0;
                }
            }
        }

        .cont__right {
            @include desktop {
                width: 50%;
            }

            .cont__form {
                .wpcf7 {
                    input[type="submit"] {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}