.section__cta {
    .cont__link {
        display: block;
        position: relative;

        text-decoration: none;

        background-image: linear-gradient(to right, $light-blue 5%, #8f41f1 97%);
        color: $white;

        padding: 22px 0 30px;

        @include desktop {
            background-image: none;
            background-color: $black;
        }

        @include desktop-1366 {
            padding: 40px 0 38px;
        }

        &:hover {
            @include desktop {
                &:before {
                    opacity: 1;
                }

                .cont__cta .cont__inner .cont__arrow {
                    -webkit-animation: bounceright .3s alternate ease infinite;
                    animation: bounceright .3s alternate ease infinite;
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-image: linear-gradient(to right, $light-blue 5%, #8f41f1 97%);
            opacity: 0;
            @include transition;
        }

        .cont__cta {
            position: relative;

            .cont__inner {
                @include desktop-1366 {
                    @include flexbox;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 20px;
                }

                .cont__cta_title {
                    @include Eina01-Bold;
                    font-size: 22px;
                    line-height: 1.27;

                    padding-bottom: 5px;

                    @include desktop-1366 {
                        font-size: 30px;
                        line-height: 1.33;

                        padding-bottom: 9px;
                    }
                }

                .cont__cta_text {
                    @include Eina01-SemiBold;
                    font-size: 16px;
                    line-height: 1.5;

                    padding-bottom: 25px;

                    @include desktop-1366 {
                        font-size: 20px;
                        line-height: 1.5;

                        padding-bottom: 0;
                    }
                }

                .cont__cat-view-more {
                    @include Eina01-SemiBold;
                    font-size: 15px;
                    line-height: 1.33;

                    @include flexbox;
                    align-items: center;

                    border-top: 1px solid $white;

                    padding-top: 24px;

                    @include desktop-1366 {
                        border-top: none;
                        padding-top: 0;
                    }
                }

                .cont__arrow {
                    display: block;
                    position: relative;

                    width: 30px;
                    height: 30px;

                    border: 1px solid $white;
                    border-radius: 50%;

                    margin-left: 15px;

                    @include transition;

                    &:before {
                        @include emfasi("\66");
                        font-size: 14px;
                        @include absolute_center_xy;

                        @include desktop-1366 {
                            font-size: 21px;

                            margin-top: 2px;
                        }
                    }

                    @include desktop-1366 {
                        min-width: 45px;
                        width: 45px;
                        height: 45px;

                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

@-webkit-keyframes bounceright {
	from { -webkit-transform: translateX(0); }
	to   { -webkit-transform: translateX(3px); }
}