.section__image-100 {
    .cont__image {
        padding-bottom: 50px;
    }

    .image_mobile {
        @include desktop {
            display: none;
        }
    }

    .image_desktop {
        display: none;

        @include desktop {
            display: block;
        }
    }

    img {
        width: 100%;
    }
}