.page-template-default:not(.home) {}

.page-template-default {}

#page {
    @include flexbox;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    #index-wrapper,
    #page-wrapper {
        flex-grow: 1;
    }
}

body {
    &.page-template-full-width-no-title,
    &.page-template-page-landing,
    &.services-template-default,
    &.projects-template-default {
        header.site-header {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }
    &.services-template-default,
    &.projects-template-default {
        header.site-header .cont--header .cont--header-right .cont--header-right-item i:before {
            color: $white;
        }
    }
    &.page-template-page-container-1460 {
        #page-wrapper #content {
            @include desktop-1920 {
                max-width: 1780px;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .entry-subtitle h2 {
            @include desktop-1366 {
                font-size: 30px;
                line-height: 1.33;
                margin-bottom: 67px;
            }
        }
    }
}

.vc_section {
    padding-top: 0 !important;
}

#page-wrapper header.entry-header {
    position: relative;
    z-index: 1;
}

#header-wrapper {
    position: relative;
    z-index: 3;
}

//load more
.elm-wrapper {
    margin: -43px 0 30px;
    @include desktop-1366 {
        margin: -51px 0 70px;
    }
    button {
        background: transparent;
        color: $white;
        border: 1px solid rgba($white, 0.1);
        width: 40px;
        height: 40px;
        cursor: pointer;
        @include desktop-1366 {
            width: 80px;
            height: 80px;
        }
        &:hover {
            background-color: $white;
            color: $baby-shit-brown;
        }
        .elm-loading-icon {
            width: 20px;
            height: 20px;
            @include desktop-1366 {
                width: 40px;
                height: 40px;
            }
        }
        .elm-button-text {
            font-size: 0;
            @include flexbox;
            align-items: center;
            justify-content: center;
            &:before {
                @include emfasi("\6c");
                font-size: 10px;
                @include desktop-1366 {
                    font-size: 21px;
                }
            }
        }
    }
}