.vc_title_with_subtitle {
  padding: 43px 0 3px;

  @include desktop-1366 {
    padding: 97px 0 0;
  }

  >.container {
    @include tablet {
      padding-left: 70px;
      padding-right: 70px;
    }

    @include desktop-1920 {
      max-width: 1450px;

      padding: 0;
    }
  }

  .cont--inner {
    .cont--title {
      h2 {
        @include H1-Mobile;

        margin-bottom: 6px;

        @include desktop-1366 {
          @include H1-Desktop;

          margin-bottom: 9px;
        }
      }
    }

    .cont--subtitle {
      h4 {
        @include Subtitle-Mobile;

        opacity: 0.4;

        @include desktop-1366 {
          font-size: 30px;
          line-height: 1.33;
        }
      }
    }
  }
}