.vc_icon_text {
  padding-top: 45px;

  @include tablet {
    padding-top: 52px;
  }

  @include desktop-1366 {
    padding-top: 150px;
  }

  >.container {
    @include tablet {
      padding-left: 70px;
      padding-right: 70px;
    }

    @include desktop-1920 {
      max-width: 1450px;

      padding: 0;
    }
  }

  .cont--inner {
    .cont--title {
      h2 {
        margin-bottom: 12px;
      }
    }

    .cont--subtitle {
      padding-bottom: 13px;

      @include tablet {
        padding-bottom: 10px;
      }

      @include desktop-1366 {
        padding-bottom: 54px;
      }

      h4 {
        @include Body-Mobile;

        max-width: 556px;

        @include desktop-1366 {
          @include Body-Desktop;
        }
      }
    }

    .cont--items {
      padding-bottom: 63px;

      @include tablet {
        padding-bottom: 59px;
      }

      @include desktop-1366 {
        padding-bottom: 190px;
      }

      &.owl-carousel .owl-nav {
        padding: 0;

        button {
          border: 1px solid rgba($black, 0.1) !important;
        }
      }

      .owl-item {
        .vc_service_item {
          .cont--image {
            img {
              max-width: 40px;

              @include desktop-1366 {
                max-width: 50px;
              }
            }
          }

          .cont--title {
            @include Small-Mobile;

            padding-top: 10px;

            @include desktop-1366 {
              @include Small-Desktop;
            }
          }
        }
      }
    }
  }
}