.grid-index-full-bg {
    >article {
        a {
            &:hover {
                .cont__info {
                    opacity: 1 !important;
                    background-color: $white;
                    .entry-header {
                        h2.entry-title {
                            color: $light-blue !important;
                        }
                    }
                    .entry-content {
                        p {
                            color: $black !important;
                        }
                    }
                }
            }
            .cont--img {
                position: fixed;
                pointer-events: none;
                width: 100vw;
                height: 100vh;
                /*&:before {
                    opacity: 0.33;
                    background-image: linear-gradient(to bottom, $black, rgba(0, 0, 0, 0.35));
                }*/
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}