html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  @include container;
}

.container-fluid {
  width: 100%;
  padding-right: $gutters;
  padding-left: $gutters;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -$gutters;
  margin-left: -$gutters;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

#primary.site-main {
  width: 100%;
}

.container #primary.site-main {
  padding-right: $gutters;
  padding-left: $gutters;
}

.grid-index {
  padding-bottom: 53px;

  &:not(.owl-carousel) {
    display: block;

    .owl-stage {
      @include desktop {
        display: grid;
        //grid-template-rows: auto auto;
        grid-auto-flow: column;
        overflow-x: hidden;
      }

      .owl-item {
        width: 500px !important;
      }
    }

    article {
      @include tablet {
        width: 100%;
      }

      @include desktop {
        width: 500px;
        height: 100%;
      }
    }
  }

  &:not(.not-hover) {
    article {
      a {
        &:hover {
          background-color: white !important;

          .cont--img {
            opacity: 1;
          }
        }

        &.hover-projects {
          .cont__info {
            opacity: 0.3;

            .entry-header {
              h2.entry-title {
                color: $white;
              }
            }

            .entry-content {
              p {
                color: $white;
              }
            }
          }
        }
      }
    }
  }

  article {
    padding-bottom: 20px;

    @include desktop-1366 {
      padding-bottom: 67px;
    }

    a {
      position: relative;
      @include flexbox;
      text-decoration: none;
      min-height: 230px;

      color: $black;

      @include tablet {
        height: 100%;
        min-height: 280px;
      }

      @include desktop {
        min-height: 375px;
      }

      @include desktop-1366 {
        //min-height: 450px;
        min-height: 530px;
      }

      @include desktop-1920 {
        min-height: 650px;
      }

      .cont__info {
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 25px 20px 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        @include transition(0.6s);

        @include desktop {
          padding: 35px 30px 0;
        }

        @include desktop-1366 {
          padding: 40px;
        }

        @include desktop-1600 {
          padding: 48px 58px 28px;
        }

        .entry-header {
          .type-web {
            @include Eina01-SemiBold;
            font-size: 14px;
            font-stretch: normal;
            line-height: 1.07;
            letter-spacing: 2px;
            color: #333333;
            margin-bottom: 20px;
            text-transform: uppercase;
          }

          .entry-title {
            @include Eina01-Bold;
            font-size: 25px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.13;
            letter-spacing: normal;
            color: $black;

            margin-bottom: 15px;

            @include desktop-1366 {
              font-size: 40px;

              margin-bottom: 30px;
            }
          }
        }

        .entry-content {
          p {
            @include Eina01-Light;
          }
        }
      }

      .cont--img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        @include transition(0.6s);

        /*&:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.85;
          background-blend-mode: multiply;
          background-image: linear-gradient(to bottom, $black, rgba(0, 0, 0, 0.4));
        }*/

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }

  .owl-nav,
  .owl-dots {
    display: none;
  }
}

.cont--project-related {
  padding-top: 40px;

  @include tablet {
    padding-top: 50px;
  }

  @include desktop-1366 {
    padding-top: 100px;
  }

  .cont--title {
    @include Eina01-Regular;
    font-size: 20px;
    line-height: 1.25;
    color: $white;
    width: 100%;
    margin-bottom: 30px;

    @include desktop-1366 {
      font-size: 25px;
      line-height: 1.4;
      margin-bottom: 50px;
    }
  }

  &.oil-bg-index,
  &.black-bg-index {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 99999px;
      height: 100%;
      top: 0;
      left: -99999px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 99999px;
      height: 100%;
      top: 0;
      right: -99999px;
    }

    .grid-index {
      padding-bottom: 40px;

      @include tablet {
        padding-bottom: 60px;
      }

      @include desktop-1366 {
        padding-bottom: 63px;
      }
    }

    article {
      a {
        @include desktop-1366 {
          min-height: 450px;
        }

        &:hover {
          background-color: white !important;

          .cont__info {
            border: 1px solid rgba($white, 0.4);
            background-color: $white;

            .entry-header {
              h2.entry-title {
                color: $light-blue !important;
              }
            }

            .entry-content {
              color: $black;
            }
          }
        }

        .cont__info {
          border-color: $white;
          color: $white;

          @include desktop-1366 {
            padding: 60px 40px 40px;
          }

          .entry-header h2.entry-title {
            color: $white;
          }
        }

        .cont--img {
          display: none;
        }
      }
    }

    .owl-nav {
      padding: 0;

      button {
        border-color: rgba($white, 0.1) !important;

        span:before {
          color: $white;
        }
      }
    }
  }
}

/*#page.hover-projects-img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  @include transition;
  transition: all 0.3s;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.53;
    //background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.35));
    background-blend-mode: multiply;
  }
}*/