body {
    .wt-cli-cookie-bar-container {
        .wt-cli-cookie-bar {
            width: calc(100% - 20px) !important;
            padding: 30px 20px !important;
            background-color: $white !important;

            @include tablet {
                width: calc(100% - 80px) !important;
                padding: 50px 60px !important;
                max-width: 600px;
            }

            @include desktop-1366 {
                padding: 100px 100px 145px !important;
            }

            .cli-wrapper {
                .cli-bar-container {
                    .cli-bar-message {
                        @include Eina01-Light;
                        font-size: 15px;
                        line-height: 1.33;
                        letter-spacing: normal;
                        max-width: 990px;
                        margin: 0 auto;
                        color: black;

                        @include desktop-1366 {
                            font-size: 20px;
                            line-height: 1.5;
                        }

                        a {
                            font-size: 15px;
                            line-height: 1.33;
                            letter-spacing: normal;
                            text-align: center;
                            margin: 0;
                            padding: 0;
                            background-color: transparent !important;
                            color: $light-blue !important;

                            @include link_underline;

                            @include desktop-1366 {
                                font-size: 18px;
                                line-height: 1.39;
                            }

                            &:hover {
                                background-color: transparent !important;
                            }
                        }
                    }

                    .cli-bar-btn_container {
                        @include flexbox;
                        flex-direction: column;

                        padding-top: 20px;

                        @include tablet {
                            padding-top: 29px;
                        }

                        a {
                            display: block;
                            @include Eina01-Regular;
                            font-size: 15px;
                            line-height: 1.2;
                            letter-spacing: normal;
                            text-align: center;
                            text-decoration: none;
                            margin: 0 !important;

                            @include desktop-1366 {
                                font-size: 20px;
                                line-height: 1.25;
                            }

                            &.cli_action_button {
                                @include button;

                                border: none;
                                border-radius: 48px !important;
                                color: $white !important;
                                padding: 10px 23px !important;
                                margin-bottom: 28px !important;
                                width: fit-content;

                                @include desktop {
                                    padding: 15px 30px !important;
                                }
                            }

                            &.cli_settings_button {
                                @include Eina01-SemiBold;
                                font-size: 12px;
                                line-height: 1.07;
                                letter-spacing: 1.2px;
                                text-transform: uppercase;
                                text-align: left;
                                
                                color: $light-blue !important;
                                border-bottom: none !important;
                                background-color: transparent;

                                width: fit-content;
                                
                                padding: 0 0 5px;
                                
                                @include link_underline;
                                
                                &:hover {}
                                
                                @include desktop {
                                    font-size: 14px;
                                    letter-spacing: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .cli_setting_save_button.cli-btn {
        color: $white !important;
        background-color: $black !important;
    }

    .cli-switch input:checked+.cli-slider {
        background-color: $black !important;
    }
}